<div> 
    <snap-drawer> 
        <div class=snap-menu> 
            <div class="sidebar-header text-center"> 
                <img src=images/flat-avatar.png class="sidebar-img img-circle"> 
            </div> 
            <ul class=snap-ul> 
                <li ng-class="{active: $state.includes('overview')}">
                    <a ui-sref=overview>HOME</a>
                </li> 
                <li ng-class="{active: $state.includes('DirectoryList')}">
                    <a ui-sref=DirectoryList>DirectoryList</a>
                </li> 
                <li ng-class="{active: $state.includes('FilesList')}">
                        <a ui-sref=FilesList>FilesList</a>
                    </li> 
                    <li>
                    <a ui-sref=logout>LOGOUT</a>
                </li> 
                <li>
                    <a href=http://strapui.com>MORE PREMIUM THEMES</a>
                </li> 
            </ul> 
        </div> 
    </snap-drawer> 
    <snap-dragger></snap-dragger> 
    <snap-content snap-opt-tap-to-close=false> 
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> 
            <span class=menutoggle> 
                <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i> 
                <i ng-show=menuOpen class="fa fa-times fa-2x"></i> 
            </span> 
        </a> 
        <div class=fr> 
            <h2> Hello {{$rootscope.username}} <small>This site attend to save files on the cloud.
    
            </small>
            </h2> 
        </div> 
        <div class=jumbotron> 
            <div class=container> 
                <a href="#" onclick="doSomething();">Click Me!</a>
                
                <br><br> 
                 <p> <a ui-sref=logout class="btn btn-primary btn-lg btn-white">Logout</a> </p> 
            </div> 
        </div> 
    </snap-content> 
</div>